TZ=Asia/Yekaterinburg

POSTGRES_PASSWORD=generate_with_scripts_install
JWT_SECRET=generate_with_scripts_install
ENCRYPTION_KEY=generate_with_scripts_install

SURVEILLANCE_ROOT=./data/archive
STORAGE_INSTALL_CONTROL=./data/install-control

HTTP_PORT=8088
API_PORT=18000
COMPOSE_PROJECT_NAME=tnas-vms
KM_VMS_CONTAINER_PREFIX=vms

NEXT_PUBLIC_API_BASE_URL=/api

LIVE_HWACCEL_MODE=auto
LIVE_HWACCEL_BACKEND=auto
LIVE_HWACCEL_DEVICE=/dev/dri/renderD128
VIDEO_GID=44
RENDER_GID=109

ADMIN_USERNAME=admin
ADMIN_PASSWORD=generate_with_scripts_install
ADMIN_FULL_NAME=Admin
